<% layout("/layouts/boilerplate") %>
  <style>
    #filters{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .filter{
      margin-top: 2rem;
      text-align: center;
      margin-right: 2rem;
      opacity: 0.7;
      cursor: pointer;
      
    }
    a{
      text-decoration: none;
      color: black;
    }
    .filter:hover{
      opacity: 1;
    }
    .filter p{
      font-size: 0.8rem;
    }

    .tax-info{
      display: none;
    }

    .tax-toggle{
      border: 2px solid black;
      border-radius: 10px;
      height: 3.5rem;
      padding: 1rem;
      margin-left: 5rem;
      display: flex;
      align-items: center;
    }

    
.filter.active {
  color: #fe424d;
  opacity: 1;
}

.filter.active i {
  color: #fe424d;
}

.filter.active p {
  font-weight: 600;
}

.filter.active {
  border-bottom: 3px solid #fe424d;
}

  </style>
     <div id="filters">
      <a href="/listings?category=trending" class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
          <p>Trending</p>
      </a>

      <a href="/listings?category=rooms" class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
      </a>

      <a href="/listings?category=iconicCities" class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
      </a>

      <a href="/listings?category=mountains" class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p>
      </a>

      <a href="/listings?category=castles" class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
      </a>

      <a href="/listings?category=amazingPools" class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
      </a>

      <a href="/listings?category=camping" class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
      </a>

      <a href="/listings?category=farms" class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
      </a>

      <a href="/listings?category=arctic" class="filter">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <p>Arctic</p>
      </a>
      <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
          <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
        </div>
      </div>
     </div>

     <div id="filters">
  <a href="/listings?category=trending" class="filter <%= category === 'trending' ? 'active' : '' %>">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </a>

  <a href="/listings?category=rooms" class="filter <%= category === 'rooms' ? 'active' : '' %>">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
  </a>

  <a href="/listings?category=iconicCities" class="filter <%= category === 'iconicCities' ? 'active' : '' %>">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>Iconic Cities</p>
  </a>

  <a href="/listings?category=mountains" class="filter <%= category === 'mountains' ? 'active' : '' %>">
    <div><i class="fa-solid fa-mountain"></i></div>
    <p>Mountains</p>
  </a>

  <a href="/listings?category=castles" class="filter <%= category === 'castles' ? 'active' : '' %>">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
    <p>Castles</p>
  </a>

  <a href="/listings?category=amazingPools" class="filter <%= category === 'amazingPools' ? 'active' : '' %>">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Amazing Pools</p>
  </a>

  <a href="/listings?category=camping" class="filter <%= category === 'camping' ? 'active' : '' %>">
    <div><i class="fa-solid fa-campground"></i></div>
    <p>Camping</p>
  </a>

  <a href="/listings?category=farms" class="filter <%= category === 'farms' ? 'active' : '' %>">
    <div><i class="fa-solid fa-cow"></i></div>
    <p>Farms</p>
  </a>

  <a href="/listings?category=arctic" class="filter <%= category === 'arctic' ? 'active' : '' %>">
    <div><i class="fa-regular fa-snowflake"></i></div>
    <p>Arctic</p>
  </a>
</div>

    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
      <% for(let listing of allListings){ %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
          <div class="card col listing-card">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <b class="card-text"><%= listing.title %></b>
          <p class="card-text">&#8377; <%= listing.price.toLocaleString("en-IN") %>/night</p>
          <i class="tax-info">&nbsp; &nbsp; +18% GST</i>
        </div>
      </div>
        </a>
       <% } %>
    </div>

    <script>
      let taxSwitch = document.getElementById("switchCheckDefault");
      taxSwitch.addEventListener("click",()=>{
        let taxInfo = document.getElementsByClassName("tax-info");
        for(info of taxInfo){
          if(info.style.display != "inline"){
            info.style.display = "inline";
          }else{
            info.style.display = "none";
          }
        }
      })
    </script>


